<html xmlns:th="http://www.thymeleaf.org">
<div class="fly-panel fly-column" th:fragment="col(kinds,column,fenlei)">
  <div class="layui-container">
    <ul class="layui-clear">
      <li class="layui-hide-xs"><a href="/">首页</a></li>
      <li th:classappend="${fenlei == kind.id}?'layui-this':''" th:each="kind:${kinds}"><a th:href="@{'/category/cate/'+${column}+'/'+${kind.id}}">[[${kind.kindname}]]</a></li>
<!--      <li><a href="#">提问</a></li>
      <li><a href="#">分享</a></li>
      <li><a href="#">讨论</a></li>
      <li><a href="#">建议</a></li>
      <li><a href="#">公告</a></li>
      <li><a href="#">动态</a></li>-->
      <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><span class="fly-mid"></span></li> 
      
      <!-- 用户登入后显示 -->
      <span th:if="${session.user != null}">
        <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="/user/index#index">我发表的贴</a></li>
        <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="/user/index#collection">我收藏的贴</a></li>
      </span>

    </ul>

    
    <div class="fly-column-right layui-hide-xs" th:if="${session.user != null}">
      <span class="fly-search"><i class="layui-icon"></i></span>
      <a href="/jie/add" class="layui-btn layui-btn-normal">发表新帖</a>
    </div> 
    <div class="layui-hide-sm layui-show-xs-block" style="margin-top: -10px; padding-bottom: 10px; text-align: center;" th:if="${session.user != null}">
      <a class="fly-search"><i class="layui-icon"></i></a>
      <a href="/jie/add" class="layui-btn layui-btn-normal">发表新帖</a>
    </div> 
  </div>
</div>
</html>