<html xmlns:th="http://www.thymeleaf.org">
<div class="fly-header layui-bg-black" th:fragment="head">
  <div class="layui-container">
    <a class="fly-logo" href="/">
      <img src="/ad/code.png" alt="Code社区">
    </a>
      <ul class="layui-nav fly-nav">
          <li class="layui-nav-item">
              <a href="/"><span><i class="layui-icon layui-icon-home" style="font-size:16px;">&#xe68e;</i>首页</span></a>
          </li>
      </ul>
    <ul class="layui-nav fly-nav-user">
        <div th:if="${session.user == null}">
            <!-- 未登入的状态 -->
            <li class="layui-nav-item">
              <a class="iconfont icon-touxiang layui-hide-xs" href="/user/login"></a>
            </li>
            <li class="layui-nav-item">
              <a th:href="@{'/user/login?callback='+${#httpServletRequest.requestURL}}">登录</a>
            </li>
            <li class="layui-nav-item">
              <a href="/user/reg">注册</a>
            </li>
      </div>
<!--      <li class="layui-nav-item layui-hide-xs">
        <a href="" onclick="layer.msg('正在通过微博登入', {icon:16, shade: 0.1, time:0})" title="微博登入" class="iconfont icon-weibo"></a>
      </li>-->
      
      <!-- 登入后的状态 -->
      <div th:if="${session.user != null}">
        <li class="layui-nav-item">
          <a class="fly-nav-avatar" href="javascript:;">
              <img th:src="${session.user.getAvatarUrl()}">
              <cite class="layui-hide-xs" th:text="${session.user.getName()}">贤心</cite>
              <i class="iconfont icon-renzheng layui-hide-xs" th:title="${session.user.role}"></i>
              <!-- <i class="layui-badge fly-badge-vip layui-hide-xs">VIP3</i>-->
          </a>
          <dl class="layui-nav-child">
            <dd><a href="/user/home"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a></dd>
            <dd><a href="/user/index"><i class="layui-icon" style="top: 5px;">&#xe60a;</i>帖子管理</a></dd>
            <dd><a href="/user/set"><i class="layui-icon" style="margin-left: 2px;font-size: 22px;top: 3px;">&#xe770;</i>个人中心</a></dd>
            <dd><a href="/user/message"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a></dd>

            <hr style="margin: 5px 0;">

            <dd><a href="/logout" style="text-align: center;">退出</a></dd>
          </dl>
        </li>
      </div>
      
    </ul>
  </div>
</div>
</html>