
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>发表问题 编辑问题 公用</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="fly,layui,前端社区">
  <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
  <link rel="stylesheet" href="/layui/css/layui.css">
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/editor/css/editormd.min.css">
</head>
<body>
<div th:insert="~{common/header::head}"></div>

<div class="layui-container fly-marginTop">
  <div class="fly-panel" pad20 style="padding-top: 5px;">
<!--   <div class="fly-none" th:if="${session.user.role != '社区管理员'}">没有权限</div>-->
    <div class="layui-form layui-form-pane">
      <div class="layui-tab layui-tab-brief" lay-filter="user">
        <ul class="layui-tab-title">
          <li class="layui-this">填写信息</li>
        </ul>
        <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
          <div class="layui-tab-item layui-show">
            <form action="/jie/doadd" method="post">
              <input name="id" th:value="${topic?.id}" type="hidden"/>
              <div class="layui-row layui-col-space15 layui-form-item">
                <div class="layui-col-md3">
                  <label class="layui-form-label">所在专栏</label>
                  <div class="layui-input-block">
                    <select lay-verify="required" name="categoryId" lay-filter="column">
                      <option></option>
                      <option th:each="cate:${cates}" th:text="${cate.catename}" th:value="${cate.id}"></option>
                     <!-- <option value="0">提问</option>
                      <option value="99">分享</option> 
                      <option value="100">讨论</option> 
                      <option value="101">建议</option> 
                      <option value="168">公告</option> 
                      <option value="169">动态</option> -->
                    </select>
                  </div>
                </div>
                <div class="layui-col-md9">
                  <label for="L_title" class="layui-form-label">标题</label>
                  <div class="layui-input-block">
                    <input type="text" id="L_title" name="title" required lay-verify="required" autocomplete="off" class="layui-input" th:value="${topic?.title}">
                    <!-- <input type="hidden" name="id" value="{{d.edit.id}}"> -->
                  </div>
                </div>
              </div>
              <div class="layui-row layui-col-space15 layui-form-item layui-hide" id="LAY_quiz">
                <div class="layui-col-md3">
                  <label class="layui-form-label">所属产品</label>
                  <div class="layui-input-block">
                    <select name="kindId">
                      <option></option>
                      <option th:each="kind:${kinds}" th:text="${kind.kindname}" th:value="${kind.id}"></option>
                     <!-- <option value="独立版layer">独立版layer</option>
                      <option value="独立版layDate">独立版layDate</option>
                      <option value="LayIM">LayIM</option>
                      <option value="Fly社区模板">Fly社区模板</option>-->
                    </select>
                  </div>
                </div>
          <!--      <div class="layui-col-md3">
                  <label class="layui-form-label" for="L_version">版本号</label>
                  <div class="layui-input-block">
                    <input type="text" id="L_version" value="" name="version" autocomplete="off" class="layui-input">
                  </div>
                </div>
                <div class="layui-col-md6">
                  <label class="layui-form-label" for="L_browser">浏览器</label>
                  <div class="layui-input-block">
                    <input type="text" id="L_browser"  value="" name="browser" placeholder="浏览器名称及版本，如：IE 11" autocomplete="off" class="layui-input">
                  </div>
                </div>-->
              </div>
<!--              <div class="layui-form-item layui-form-text">
                <div class="layui-input-block">
                  <textarea id="L_content" name="content" required lay-verify="required" placeholder="详细描述" class="layui-textarea fly-editor" style="height: 260px;" th:utext="${topic?.content}"></textarea>
                </div>
              </div>-->
              <div id="editor">
                <textarea id="L_content1" name="content" style="display:none;"  th:text="${topic?.content}" ></textarea>
                <textarea  style="display:none;" name="content" id="content"></textarea>
              </div>
              <div class="layui-form-item">
                <div class="layui-inline">
                  <label class="layui-form-label">悬赏飞吻</label>
                  <input type="hidden" name="experience" th:value="${topic?.experience}"/>
                  <div class="layui-input-inline" style="width: 190px;" th:if="${topic?.id == null}">
                    <select name="experience">
                      <option value="20">20</option>
                      <option value="30">30</option>
                      <option value="50">50</option>
                      <option value="60">60</option>
                      <option value="80">80</option>
                    </select>
                  </div>
                  <div class="layui-form-mid layui-word-aux" >发表后无法更改飞吻</div>
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_vercode" class="layui-form-label">人类验证</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_vercode" name="check" required lay-verify="required" placeholder="请填写验证码" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid">
                  <img src="/api/check" onClick="this.src=this.src+'?'" alt="看不清？点击更换">
                </div>
              </div>
              <div class="layui-form-item">
                <button class="layui-btn" lay-filter="*" lay-submit>确定发布</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:insert="~{common/footer::foot}"></div>

<script src="/layui/layui.js"></script>
<script src="/js/jquery.js"></script>
<script src="/editor/editormd.min.js"></script>
<script>
layui.cache.page = 'jie';
layui.cache.user =  {
  username: '[[${session.user == null?"游客":session.user.name}]]'
  ,uid: '[[${session.user == null?"-1":session.user.id}]]'
  ,avatar: '[[${session.user == null?"/images/avatar/00.jpg":session.user.avatarUrl}]]'
  ,experience: '[[${session.user == null?"83":session.user.kissNum}]]'
  ,sex: '[[${session.user == null?"女":session.user.sex == 0?"女":"男"}]]'
};
layui.config({
  version: "3.0.0"
  ,base: '/mods/'
}).extend({
  fly: 'index'
}).use('fly');
</script>
<script>

    $(function() {
      var editor = editormd("editor", {
        height:360,
        toolbarAutoFixed     : true,
        placeholder:"请填写内容！",
        codeFold : true,
        syncScrolling : "single",
        saveHTMLToTextarea : false,
        searchReplace : true,
        watch : false,
        htmlDecode : "style,script|on*",
        tex : true,
        emoji : true,
        flowChart : true,
        taskList : true,
        sequenceDiagram : true,
        previewTheme :'dark',// 开启时序/序列图支持，默认关闭,
        imageUpload : true,
        imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
        imageUploadURL : "/api/addupload",
        toolbarIcons : function() {
          // Or return editormd.toolbarModes[name]; // full, simple, mini
          // Using "||" set icons align right.
          return ["undo", "redo", "quote","|", "bold", "hr","italic","del","ucwords", "|","h1","h2","h3","h4","h5","h6","list-ul","list-ol","code-block"
            ,"table","clear","search","|", "preview", "watch", "|", "fullscreen", "emoji", "link", "file", "faicon", "||", "watch",  "preview", "image","fullscreen"]
        },
        path : "/editor/lib/",
        onfullscreen : function() {
          $("#editor").css({"z-index": 10000});
          editor.watch();
        },
        onfullscreenExit : function() {
          $("#editor").css({"z-index": 0});
          //editor.unwatch(true);
        }

      });
      // editor.setTheme('dark');
      // editor.setEditorTheme('monokai');
    })


</script>

</body>
</html>