
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Code社区</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content=">CodeZone">
  <meta name="description" content="CodeZone是编程学习交流的场所">
  <link rel="stylesheet" href="/static/layui/css/layui.css">
  <link rel="stylesheet" href="/static/css/global.css">
</head>
<body>

<div th:insert="~{common/header::head}"></div>
<div th:replace="~{common/mcategory::mcate(column = ${topicMap['column']})}"></div>
<div th:insert="~{common/category::cate(cates = ${#request.getServletContext().getAttribute('categorys')},column = ${topicMap['column']})}"></div>
<div th:insert="~{common/column::col(kinds = ${#request.getServletContext().getAttribute('kinds')},column=${topicMap['column']},fenlei = ${topicMap['fenlei']})}"></div>

<div class="layui-container">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md8">
      <!--轮播广告图-->
      <div class="layui-anim layui-anim-upbit layui-carousel fly-panel" id="carousel">
        <div carousel-item>
          <a href="#"><img src="/ad/1.jpg"/></a>
          <a href="#"><img src="/ad/2.jpg"/></a>
          <a href="#"><img src="/ad/3.jpg"/></a>
        </div>
      </div>

      <!--综合-->
      <div class="fly-panel" style="margin-bottom: 0;">
        <div th:if="${topicMap['fenlei'] == null}" class="fly-panel-title fly-filter">
          <a th:classappend="${topicMap['status']=='all'}?'layui-this':''" th:href="@{'/category/cates/'+${topicMap['column']}+'/all'}">综合</a>
          <span class="fly-mid"></span>
          <a th:classappend="${topicMap['status']=='notend'}?'layui-this':''" th:href="@{'/category/cates/'+${topicMap['column']}+'/notend'}">未结</a>
          <span class="fly-mid"></span>
          <a th:classappend="${topicMap['status']=='isend'}?'layui-this':''" th:href="@{'/category/cates/'+${topicMap['column']}+'/isend'}">已结</a>
          <span class="fly-mid"></span>
          <a th:classappend="${topicMap['status']=='isgood'}?'layui-this':''" th:href="@{'/category/cates/'+${topicMap['column']}+'/isgood'}">精华</a>
        </div>
        <div th:if="${topicMap['fenlei'] != null}" class="fly-panel-title fly-filter">
          <a th:classappend="${topicMap['status']=='all'}?'layui-this':''" th:href="@{'/category/cate/'+${topicMap['column']}+'/'+${topicMap['fenlei']}+'/all'}">综合</a>
          <span class="fly-mid"></span>
          <a th:classappend="${topicMap['status']=='notend'}?'layui-this':''" th:href="@{'/category/cate/'+${topicMap['column']}+'/'+${topicMap['fenlei']}+'/notend'}">未结</a>
          <span class="fly-mid"></span>
          <a th:classappend="${topicMap['status']=='isend'}?'layui-this':''" th:href="@{'/category/cate/'+${topicMap['column']}+'/'+${topicMap['fenlei']}+'/isend'}">已结</a>
          <span class="fly-mid"></span>
          <a th:classappend="${topicMap['status']=='isgood'}?'layui-this':''" th:href="@{'/category/cate/'+${topicMap['column']}+'/'+${topicMap['fenlei']}+'/isgood'}">精华</a>
        </div>
        <ul class="fly-list">
          <li th:each="topic:${topicMap['topics']}">
            <a th:href="@{'/user/home/'+${topic.userId}}" class="fly-avatar">
              <img th:src="${topic.avatarUrl}" th:alt="${topic.name}">
            </a>
            <h2>
              <a class="layui-badge">[[${topic.catename}]]</a>
              <a th:href="@{'/jie/detail/'+${topic.id}}">[[${topic.title}]]</a>
            </h2>
            <div class="fly-list-info">
              <a class="layui-badge fly-badge-accept2">[[${topic.kindname}]]</a>
              <a th:href="@{'/user/home/'+${topic.userId}}" link>
                <cite>[[${topic.name}]]</cite>

                <i class="iconfont icon-renzheng" th:title="${topic.role}"></i>
                <!--<i class="layui-badge fly-badge-vip">VIP3</i>
                -->
              </a>
            <!--  <span>[[${#dates.format(topic.topicCreate,'yyyy-MM-dd')}]]</span>-->
                <span>[[${topic.time}]]</span>
              <span class="fly-list-kiss layui-hide-xs" title="悬赏经验"><i class="iconfont icon-kiss"></i> [[${topic.experience}]]</span>
             <span class="layui-badge fly-badge-accept layui-hide-xs" th:if="${topic.isEnd == 1}">已结</span>
              <span class="fly-list-nums">
                <i class="iconfont icon-pinglun1" title="回答"></i> [[${topic.commentNum}]]
              </span>
            </div>
            <div class="fly-list-badge">
              <span class="layui-badge layui-bg-black" th:if="${topic.isTop == 1}">置顶</span>
              <span class="layui-badge layui-bg-red" th:if="${topic.isGood == 1}">精帖</span>
            </div>
          </li>
          <!--<li>
            <a href="user/home.html" class="fly-avatar">
              <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" alt="贤心">
            </a>
            <h2>
              <a class="layui-badge">分享</a>
              <a href="detail.html">基于 layui 的极简社区页面模版</a>
            </h2>
            <div class="fly-list-info">
              <a href="user/home.html" link>
                <cite>贤心</cite>
                &lt;!&ndash;
                <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
                <i class="layui-badge fly-badge-vip">VIP3</i>
                &ndash;&gt;
              </a>
              <span>刚刚</span>
              
              <span class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i> 60</span>
              &lt;!&ndash;<span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>&ndash;&gt;
              <span class="fly-list-nums"> 
                <i class="iconfont icon-pinglun1" title="回答"></i> 66
              </span>
            </div>
            <div class="fly-list-badge">
              <span class="layui-badge layui-bg-black">置顶</span>
              &lt;!&ndash;<span class="layui-badge layui-bg-red">精帖</span>&ndash;&gt;
            </div>
          </li>-->

        </ul>
        
         <div th:if="${topicMap['topics']?.size()==0}" class="fly-none">没有相关数据</div>
    
        <div th:if="${topicMap['count']>topicMap['topics']?.size()}" id="test1" style="text-align: center"></div>
        <input type="hidden" id="count" th:value="${topicMap['count']}">
        <input type="hidden" id="pageid" th:value="${topicMap['page']}">
        <input type="hidden" id="size" th:value="${topicMap['size']}">

      </div>
    </div>
    <div th:replace="~{common/right::rightcol(notcheck = ${#request.getServletContext().getAttribute('notcheck')},weektopics=${#request.getServletContext().getAttribute('weektopics')})}"></div>
  </div>
</div>

<div th:replace="~{common/footer::foot}"></div>

<script src="/static/layui/layui.js"></script>
<script>
layui.cache.page = 'jie';
layui.cache.user =  {
  username: '[[${session.user == null?"游客":session.user.name}]]'
  ,uid: '[[${session.user == null?"-1":session.user.id}]]'
  ,avatar: '[[${session.user == null?"/images/avatar/00.jpg":session.user.avatarUrl}]]'
  ,experience: '[[${session.user == null?"83":session.user.kissNum}]]'
  ,sex: '[[${session.user == null?"女":session.user.sex == 0?"女":"男"}]]'
};
layui.config({
  version: "3.0.0"
  ,base: '/static/mods/'
}).extend({
  fly: 'index'
}).use('fly');
</script>
<script>
  layui.use(['carousel'], function(){
    var carousel = layui.carousel;
    //建造实例
    carousel.render({
      elem: '#carousel'
      ,width: '100%' //设置容器宽度
      ,arrow: 'always' //始终显示箭头
      ,height:'250px'
      //,anim: 'updown' //切换动画方式
    });
    carousel.render({
      elem: '#rightcarousel'
      ,width: '100%' //设置容器宽度
      ,arrow: 'always' //始终显示箭头
      ,height:'250px'
      //,anim: 'updown' //切换动画方式
    });
  });
</script>

</body>
</html>