
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Code社区</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content=">Code社区">
  <meta name="description" content="Code社区是编程学习交流的场所">
  <link rel="stylesheet" href="/static/layui/css/layui.css">
  <link rel="stylesheet" href="/static/css/global.css">
</head>
<body>

<div th:insert="~{common/header::head}"></div>


<div class="layui-container">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <br/>
      <div class="fly-panel" style="margin-bottom: 0;">
        <div class="fly-panel-title fly-filter">
          为您找到以下结果：
        </div>
        <ul class="fly-list">
          <li th:each="topic:${topics}">
            <a th:href="@{'/user/home/'+${topic.userId}}" class="fly-avatar">
              <img th:src="${topic.avatarUrl}" th:alt="${topic.name}">
            </a>
            <h2>
              <a class="layui-badge">[[${topic.catename}]]</a>
              <a th:href="@{'/jie/detail/'+${topic.id}}">[[${topic.title}]]</a>
            </h2>
            <div class="fly-list-info">
              <a class="layui-badge fly-badge-accept">[[${topic.kindname}]]</a>
              <a th:href="@{'/user/home/'+${topic.userId}}" link>
                <cite>[[${topic.name}]]</cite>

                <i class="iconfont icon-renzheng" th:title="${topic.role}"></i>
                <!--<i class="layui-badge fly-badge-vip">VIP3</i>
                -->
              </a>
              <span>[[${#dates.format(topic.topicCreate,'yyyy-MM-dd')}]]</span>

              <span class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i> [[${topic.experience}]]</span>
             <span class="layui-badge fly-badge-accept layui-hide-xs" th:if="${topic.isEnd == 1}">已结</span>
              <span class="fly-list-nums">
                <i class="iconfont icon-pinglun1" title="回答"></i> [[${topic.commentNum}]]
              </span>
            </div>
            <div class="fly-list-badge">
              <span class="layui-badge layui-bg-black" th:if="${topic.isTop == 1}">置顶</span>
              <span class="layui-badge layui-bg-red" th:if="${topic.isGood == 1}">精帖</span>
            </div>
          </li>

        </ul>
        
         <div th:if="${topics?.size()==0}" class="fly-none">没有相关数据</div>
        <div id="searchpage" style="text-align: center"></div>
        <input type="hidden" id="count" th:value="${count}">
        <input type="hidden" id="pageid" th:value="${page}">
        <input type="hidden" id="size" th:value="${size}">


      </div>
    </div>
  </div>
</div>

<div th:insert="~{common/footer::foot}"></div>

<script src="/static/layui/layui.js"></script>
<script>
layui.cache.page = 'jie';
layui.cache.user =  {
  username: '[[${session.user == null?"游客":session.user.name}]]'
  ,uid: '[[${session.user == null?"-1":session.user.id}]]'
  ,avatar: '[[${session.user == null?"/images/avatar/00.jpg":session.user.avatarUrl}]]'
  ,experience: '[[${session.user == null?"83":session.user.kissNum}]]'
  ,sex: '[[${session.user == null?"女":session.user.sex == 0?"女":"男"}]]'
};
layui.config({
  version: "3.0.0"
  ,base: '/static/mods/'
}).extend({
  fly: 'index'
}).use('fly');
</script>
<script>
  layui.use(['jquery','laypage'],function () {
      var laypage = layui.laypage,
              $ = layui.jquery;
    var count = $("#count").val(),
        size =  $("#size").val(),
        pageid = $("#pageid").val();
    console.log(count)
    console.log(size)
    laypage.render({
      elem: 'searchpage'
      ,count: count
      ,curr:pageid
      ,limit:size
      ,first: '首页'
      ,last: '尾页'
      ,jump:function (obj,first) {
        var page = obj.curr;
        if(!first){
          if(window.location.href.indexOf("&page=") == -1){
            location.href = window.location.href +"&page="+ page;
          }else{
            location.href = window.location.href.substring(0,window.location.href.lastIndexOf("=")+1) + page;
          }

        }
      }
    });
  })
</script>

</body>
</html>