
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>我的消息</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="fly,layui,前端社区">
  <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
  <link rel="stylesheet" href="/layui/css/layui.css">
  <link rel="stylesheet" href="/css/global.css">
</head>
<body>

<div th:insert="~{common/header::head}"></div>

<div class="layui-container fly-marginTop fly-user-main">
  <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
    <li class="layui-nav-item">
      <a href="/user/home">
        <i class="layui-icon">&#xe609;</i>
        我的主页
      </a>
    </li>
    <li class="layui-nav-item">
      <a href="/user/index">
        <i class="layui-icon">&#xe612;</i>
        用户中心
      </a>
    </li>
    <li class="layui-nav-item">
      <a href="/user/set">
        <i class="layui-icon">&#xe620;</i>
        基本设置
      </a>
    </li>
    <li class="layui-nav-item  layui-this">
      <a href="/user/message">
        <i class="layui-icon">&#xe611;</i>
        我的消息
      </a>
    </li>
  </ul>

  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>

  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>
  
  
  <div class="fly-panel fly-panel-user" pad20>
	  <div class="layui-tab layui-tab-brief" lay-filter="user" id="LAY_msg" style="margin-top: 15px;">
	    <button class="layui-btn layui-btn-danger" id="LAY_delallmsg">清空全部消息</button>
	    <div  id="LAY_minemsg" style="margin-top: 10px;">
        <!--<div class="fly-none">您暂时没有最新消息</div>-->
        <ul class="mine-msg">
          <li  th:if="${msg.type == 0}" th:attr="data-id = ${msg.id}"  th:each="msg:${messageList}">
            <blockquote class="layui-elem-quote"  th:if="${msg.type == 0}" >
              <a href="#" target="_blank"><cite>[[${msg.user.name}]]</cite></a>
              回复了我的帖子
              <a target="_blank" th:href="@{'/jie/detail/'+${msg.topicinfo.id}}">
                <cite th:text="${msg.topicinfo.title}"></cite>
              </a>
              说：
              <a target="_blank" th:href="@{'/jie/detail/'+${msg.topicinfo.id}+'#'+${msg.comment?.id}}">
                <cite th:text="${msg.content}"></cite>
              </a>
            </blockquote>
            <p><span>1小时前</span><a href="javascript:;" class="layui-btn layui-btn-small layui-btn-danger fly-delete">删除</a></p>
          </li>
          <li  th:if="${msg.type == 1}" th:attr="data-id = ${msg.id}"  th:each="msg:${messageList}">
            <blockquote class="layui-elem-quote"  th:if="${msg.type == 0}" >
              <a href="#" target="_blank"><cite>[[${msg.user.name}]]</cite></a>
              回复了我的帖子
              <a target="_blank" th:href="@{'/jie/detail/'}">
                <cite th:text="${msg.topicinfo.title}"></cite>
              </a>
              说：
              <a target="_blank" th:href="@{'/jie/detail/'+${msg.topicinfo.id}+'#'+${msg.comment?.id}}">
                <cite th:text="${msg.content}"></cite>
              </a>
            </blockquote>
            <p><span>1小时前</span><a href="javascript:;" class="layui-btn layui-btn-small layui-btn-danger fly-delete">删除</a></p>
          </li>

        </ul>
      </div>
	  </div>
	</div>

</div>


<div th:insert="~{common/footer::foot}"></div>

<script src="/layui/layui.js"></script>
<script>
layui.cache.page = 'user';
layui.cache.user =  {
  username: '[[${session.user == null?"游客":session.user.name}]]'
  ,uid: '[[${session.user == null?"-1":session.user.id}]]'
  ,avatar: '[[${session.user == null?"/images/avatar/00.jpg":session.user.avatarUrl}]]'
  ,experience: '[[${session.user == null?"83":session.user.kissNum}]]'
  ,sex: '[[${session.user == null?"女":session.user.sex == 0?"女":"男"}]]'
};
layui.config({
  version: "3.0.0"
  ,base: '/mods/'
}).extend({
  fly: 'index'
}).use('fly');
</script>

</body>
</html>