<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbgu.zmz.community.mapper.CollectExtMapper">
  <delete id="delCollectInfo" parameterType="java.util.Map">
      delete from collect where topic_id = #{topicid} and user_id = #{userid}
  </delete>

  <select id="getIsCollectInfo" parameterType="java.util.Map" resultType="int">
      select count(*) from collect where topic_id = #{topicid} and user_id = #{userid}
  </select>
    <select id="getUserCollectTopic" parameterType="long" resultType="collectext">
      SELECT
        c.collect_create,
        c.topic_id,
        t.title
      FROM
        collect c
      LEFT JOIN topicinfo t ON c.topic_id = t.id
      WHERE
        c.user_id = #{id}
  </select>


</mapper>