<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbgu.zmz.community.mapper.TopicinfoExtMapper">
  <resultMap id="BaseResultMap" type="com.bbgu.zmz.community.model.TopicinfoExt">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="TOPIC_CREATE" jdbcType="BIGINT" property="topicCreate" />
    <result column="TOPIC_MODIFIED" jdbcType="BIGINT" property="topicModified" />
    <result column="USER_ID" jdbcType="BIGINT" property="userId" />
    <result column="CATEGORY_ID" jdbcType="BIGINT" property="categoryId" />
    <result column="KIND_ID" jdbcType="BIGINT" property="kindId" />
    <result column="VIEW_COUNT" jdbcType="INTEGER" property="viewCount" />
    <result column="IS_GOOD" jdbcType="INTEGER" property="isGood" />
    <result column="IS_END" jdbcType="INTEGER" property="isEnd" />
    <result column="IS_TOP" jdbcType="INTEGER" property="isTop" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="EXPERIENCE" jdbcType="BIGINT" property="experience" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="comment_num" jdbcType="BIGINT" property="commentNum" />
    <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="role" jdbcType="VARCHAR" property="role" />
    <result column="catename" jdbcType="VARCHAR" property="catename" />
    <result column="kindname" jdbcType="VARCHAR" property="kindname" />
  </resultMap>
  <update id="incView" parameterType="com.bbgu.zmz.community.model.Topicinfo">
    update `topicinfo`
    set
      VIEW_COUNT = VIEW_COUNT + #{viewCount,jdbcType=INTEGER}
    where ID = #{id,jdbcType=BIGINT}
  </update>
    <select id="getTop10Topics" resultMap="BaseResultMap">
        SELECT
			t.id,
			t.title,
			IFNULL(commentinfo.comment_num,0) comment_num
		FROM
			topicinfo t
		LEFT JOIN (
			SELECT
				c.topic_id,
				count(*) comment_num
			FROM
				comment c
			WHERE
				DATE_SUB(CURDATE(), INTERVAL 7 DAY) <![CDATA[ <= ]]> c.comment_create
			GROUP BY
				c.topic_id
		) commentinfo ON commentinfo.topic_id = t.id
		WHERE comment_num != 0
		ORDER BY
			commentinfo.comment_num DESC
		limit 0,10
  </select>
    <select id="getUserTopic" parameterType="long" resultMap="BaseResultMap">
        SELECT
            t.id,
            t.title,
            t.topic_create,
            t.view_count,
            t.is_good,
            IFNULL(commentinfo.comment_num, 0) comment_num
        FROM
            topicinfo t
        LEFT JOIN (
            SELECT
                c.topic_id,
                count(*) comment_num
            FROM
                `comment` c
            GROUP BY
                c.topic_id
        ) commentinfo ON commentinfo.topic_id = t.id
        WHERE
            t.user_id = #{id,jdbcType=BIGINT}
        order by
            t.topic_create desc
  </select>
    <select id="getCateTopic" resultMap="BaseResultMap">
        SELECT
        t.id,
        t.title,
        t.topic_create,
        t.experience,
        t.is_end,
        t.is_good,
        t.is_top,
        t.user_id,
        u.avatar_url,
        u.`name`,
        u.role,
        c.catename,
        k.kindname,
        IFNULL(commentinfo.comment_num, 0) comment_num
        FROM
        topicinfo t
        LEFT JOIN `user` u ON u.account_id = t.user_id
        LEFT JOIN category c ON c.id = t.category_id
        LEFT JOIN kind k ON k.id = t.kind_id
        LEFT JOIN (
        SELECT
        c.topic_id,
        count(*) comment_num
        FROM
        `comment` c
        GROUP BY
        c.topic_id
        ) commentinfo ON commentinfo.topic_id = t.id
        WHERE
        t.category_id = #{categoryId}
        ORDER BY t.topic_create desc
    </select>
    <select id="getCateTopicNotEnd" resultMap="BaseResultMap">
        SELECT
        t.id,
        t.title,
        t.topic_create,
        t.experience,
        t.is_end,
        t.is_good,
        t.is_top,
        t.user_id,
        u.avatar_url,
        u.`name`,
        u.role,
        c.catename,
        k.kindname,
        IFNULL(commentinfo.comment_num, 0) comment_num
        FROM
        topicinfo t
        LEFT JOIN `user` u ON u.account_id = t.user_id
        LEFT JOIN category c ON c.id = t.category_id
        LEFT JOIN kind k ON k.id = t.kind_id
        LEFT JOIN (
        SELECT
        c.topic_id,
        count(*) comment_num
        FROM
        `comment` c
        GROUP BY
        c.topic_id
        ) commentinfo ON commentinfo.topic_id = t.id
        WHERE
        t.category_id = #{categoryId} and t.is_end = 0
        ORDER BY t.topic_create desc
    </select>
    <select id="getCateTopicIsEnd" resultMap="BaseResultMap">
        SELECT
        t.id,
        t.title,
        t.topic_create,
        t.experience,
        t.is_end,
        t.is_good,
        t.is_top,
        t.user_id,
        u.avatar_url,
        u.`name`,
        u.role,
        c.catename,
        k.kindname,
        IFNULL(commentinfo.comment_num, 0) comment_num
        FROM
        topicinfo t
        LEFT JOIN `user` u ON u.account_id = t.user_id
        LEFT JOIN category c ON c.id = t.category_id
        LEFT JOIN kind k ON k.id = t.kind_id
        LEFT JOIN (
        SELECT
        c.topic_id,
        count(*) comment_num
        FROM
        `comment` c
        GROUP BY
        c.topic_id
        ) commentinfo ON commentinfo.topic_id = t.id
        WHERE
        t.category_id = #{categoryId} and t.is_end = 1
        ORDER BY t.topic_create desc
    </select>
    <select id="getCateTopicIsGood" resultMap="BaseResultMap">
        SELECT
        t.id,
        t.title,
        t.topic_create,
        t.experience,
        t.is_end,
        t.is_good,
        t.is_top,
        t.user_id,
        u.avatar_url,
        u.`name`,
        u.role,
        c.catename,
        k.kindname,
        IFNULL(commentinfo.comment_num, 0) comment_num
        FROM
        topicinfo t
        LEFT JOIN `user` u ON u.account_id = t.user_id
        LEFT JOIN category c ON c.id = t.category_id
        LEFT JOIN kind k ON k.id = t.kind_id
        LEFT JOIN (
        SELECT
        c.topic_id,
        count(*) comment_num
        FROM
        `comment` c
        GROUP BY
        c.topic_id
        ) commentinfo ON commentinfo.topic_id = t.id
        WHERE
        t.category_id = #{categoryId} and t.is_good = 1
        ORDER BY t.topic_create desc
    </select>
    <select id="getAllTopic" resultMap="BaseResultMap">
        SELECT
        t.id,
        t.title,
        t.topic_create,
        t.experience,
        t.is_end,
        t.is_good,
        t.is_top,
        t.user_id,
        u.avatar_url,
        u.`name`,
        u.role,
        c.catename,
        k.kindname,
        IFNULL(commentinfo.comment_num, 0) comment_num
        FROM
        topicinfo t
        LEFT JOIN `user` u ON u.account_id = t.user_id
        LEFT JOIN category c ON c.id = t.category_id
        LEFT JOIN kind k ON k.id = t.kind_id
        LEFT JOIN (
        SELECT
        c.topic_id,
        count(*) comment_num
        FROM
        `comment` c
        GROUP BY
        c.topic_id
        ) commentinfo ON commentinfo.topic_id = t.id
        ORDER BY t.topic_create desc
    </select>
    <select id="getAllTopicNotEnd" resultMap="BaseResultMap">
        SELECT
        t.id,
        t.title,
        t.topic_create,
        t.experience,
        t.is_end,
        t.is_good,
        t.is_top,
        t.user_id,
        u.avatar_url,
        u.`name`,
        u.role,
        c.catename,
        k.kindname,
        IFNULL(commentinfo.comment_num, 0) comment_num
        FROM
        topicinfo t
        LEFT JOIN `user` u ON u.account_id = t.user_id
        LEFT JOIN category c ON c.id = t.category_id
        LEFT JOIN kind k ON k.id = t.kind_id
        LEFT JOIN (
        SELECT
        c.topic_id,
        count(*) comment_num
        FROM
        `comment` c
        GROUP BY
        c.topic_id
        ) commentinfo ON commentinfo.topic_id = t.id
        WHERE
        t.is_end = 0
        ORDER BY t.topic_create desc
    </select>
    <select id="getAllTopicIsEnd" resultMap="BaseResultMap">
        SELECT
        t.id,
        t.title,
        t.topic_create,
        t.experience,
        t.is_end,
        t.is_good,
        t.is_top,
        t.user_id,
        u.avatar_url,
        u.`name`,
        u.role,
        c.catename,
        k.kindname,
        IFNULL(commentinfo.comment_num, 0) comment_num
        FROM
        topicinfo t
        LEFT JOIN `user` u ON u.account_id = t.user_id
        LEFT JOIN category c ON c.id = t.category_id
        LEFT JOIN kind k ON k.id = t.kind_id
        LEFT JOIN (
        SELECT
        c.topic_id,
        count(*) comment_num
        FROM
        `comment` c
        GROUP BY
        c.topic_id
        ) commentinfo ON commentinfo.topic_id = t.id
        WHERE
        t.is_end = 1
        ORDER BY t.topic_create desc
    </select>
    <select id="getAllTopicIsGood" resultMap="BaseResultMap">
        SELECT
        t.id,
        t.title,
        t.topic_create,
        t.experience,
        t.is_end,
        t.is_good,
        t.is_top,
        t.user_id,
        u.avatar_url,
        u.`name`,
        u.role,
        c.catename,
        k.kindname,
        IFNULL(commentinfo.comment_num, 0) comment_num
        FROM
        topicinfo t
        LEFT JOIN `user` u ON u.account_id = t.user_id
        LEFT JOIN category c ON c.id = t.category_id
        LEFT JOIN kind k ON k.id = t.kind_id
        LEFT JOIN (
        SELECT
        c.topic_id,
        count(*) comment_num
        FROM
        `comment` c
        GROUP BY
        c.topic_id
        ) commentinfo ON commentinfo.topic_id = t.id
        WHERE
        t.is_good = 1
        ORDER BY t.topic_create desc
    </select>
    <select id="getAllTopicByKindId" resultMap="BaseResultMap">
        SELECT
        t.id,
        t.title,
        t.topic_create,
        t.experience,
        t.is_end,
        t.is_good,
        t.is_top,
        t.user_id,
        u.avatar_url,
        u.`name`,
        u.role,
        c.catename,
        k.kindname,
        IFNULL(commentinfo.comment_num, 0) comment_num
        FROM
        topicinfo t
        LEFT JOIN `user` u ON u.account_id = t.user_id
        LEFT JOIN category c ON c.id = t.category_id
        LEFT JOIN kind k ON k.id = t.kind_id
        LEFT JOIN (
        SELECT
        c.topic_id,
        count(*) comment_num
        FROM
        `comment` c
        GROUP BY
        c.topic_id
        ) commentinfo ON commentinfo.topic_id = t.id
        where t.kind_id = #{kindId}
        ORDER BY t.topic_create desc
    </select>
    <select id="getAllTopicByKindIdNotEnd" resultMap="BaseResultMap">
        SELECT
        t.id,
        t.title,
        t.topic_create,
        t.experience,
        t.is_end,
        t.is_good,
        t.is_top,
        t.user_id,
        u.avatar_url,
        u.`name`,
        u.role,
        c.catename,
        k.kindname,
        IFNULL(commentinfo.comment_num, 0) comment_num
        FROM
        topicinfo t
        LEFT JOIN `user` u ON u.account_id = t.user_id
        LEFT JOIN category c ON c.id = t.category_id
        LEFT JOIN kind k ON k.id = t.kind_id
        LEFT JOIN (
        SELECT
        c.topic_id,
        count(*) comment_num
        FROM
        `comment` c
        GROUP BY
        c.topic_id
        ) commentinfo ON commentinfo.topic_id = t.id
        where t.kind_id = #{kindId} and t.is_end = 0
        ORDER BY t.topic_create desc
    </select>
    <select id="getAllTopicByKindIdIsEnd" resultMap="BaseResultMap">
        SELECT
        t.id,
        t.title,
        t.topic_create,
        t.experience,
        t.is_end,
        t.is_good,
        t.is_top,
        t.user_id,
        u.avatar_url,
        u.`name`,
        u.role,
        c.catename,
        k.kindname,
        IFNULL(commentinfo.comment_num, 0) comment_num
        FROM
        topicinfo t
        LEFT JOIN `user` u ON u.account_id = t.user_id
        LEFT JOIN category c ON c.id = t.category_id
        LEFT JOIN kind k ON k.id = t.kind_id
        LEFT JOIN (
        SELECT
        c.topic_id,
        count(*) comment_num
        FROM
        `comment` c
        GROUP BY
        c.topic_id
        ) commentinfo ON commentinfo.topic_id = t.id
        where t.kind_id = #{kindId} and t.is_end = 1
        ORDER BY t.topic_create desc
    </select>
    <select id="getAllTopicByKindIdIsGood" resultMap="BaseResultMap">
        SELECT
        t.id,
        t.title,
        t.topic_create,
        t.experience,
        t.is_end,
        t.is_good,
        t.is_top,
        t.user_id,
        u.avatar_url,
        u.`name`,
        u.role,
        c.catename,
        k.kindname,
        IFNULL(commentinfo.comment_num, 0) comment_num
        FROM
        topicinfo t
        LEFT JOIN `user` u ON u.account_id = t.user_id
        LEFT JOIN category c ON c.id = t.category_id
        LEFT JOIN kind k ON k.id = t.kind_id
        LEFT JOIN (
        SELECT
        c.topic_id,
        count(*) comment_num
        FROM
        `comment` c
        GROUP BY
        c.topic_id
        ) commentinfo ON commentinfo.topic_id = t.id
        where t.kind_id = #{kindId} and t.is_good = 1
        ORDER BY t.topic_create desc
    </select>
    <select id="getKindTopic" resultMap="BaseResultMap">
        SELECT
        t.id,
        t.title,
        t.topic_create,
        t.experience,
        t.is_end,
        t.is_good,
        t.is_top,
        t.user_id,
        u.avatar_url,
        u.`name`,
        u.role,
        c.catename,
        k.kindname,
        IFNULL(commentinfo.comment_num, 0) comment_num
        FROM
        topicinfo t
        LEFT JOIN `user` u ON u.account_id = t.user_id
        LEFT JOIN category c ON c.id = t.category_id
        LEFT JOIN kind k ON k.id = t.kind_id
        LEFT JOIN (
        SELECT
        c.topic_id,
        count(*) comment_num
        FROM
        `comment` c
        GROUP BY
        c.topic_id
        ) commentinfo ON commentinfo.topic_id = t.id
        where t.kind_id = #{kindId} and t.category_id = #{categoryId}
        ORDER BY t.topic_create desc
    </select>
    <select id="getKindTopicNotEnd" resultMap="BaseResultMap">
        SELECT
        t.id,
        t.title,
        t.topic_create,
        t.experience,
        t.is_end,
        t.is_good,
        t.is_top,
        t.user_id,
        u.avatar_url,
        u.`name`,
        u.role,
        c.catename,
        k.kindname,
        IFNULL(commentinfo.comment_num, 0) comment_num
        FROM
        topicinfo t
        LEFT JOIN `user` u ON u.account_id = t.user_id
        LEFT JOIN category c ON c.id = t.category_id
        LEFT JOIN kind k ON k.id = t.kind_id
        LEFT JOIN (
        SELECT
        c.topic_id,
        count(*) comment_num
        FROM
        `comment` c
        GROUP BY
        c.topic_id
        ) commentinfo ON commentinfo.topic_id = t.id
        where t.kind_id = #{kindId} and t.category_id = #{categoryId} and t.is_end = 0
        ORDER BY t.topic_create desc
    </select>
    <select id="getKindTopicIsEnd" resultMap="BaseResultMap">
        SELECT
        t.id,
        t.title,
        t.topic_create,
        t.experience,
        t.is_end,
        t.is_good,
        t.is_top,
        t.user_id,
        u.avatar_url,
        u.`name`,
        u.role,
        c.catename,
        k.kindname,
        IFNULL(commentinfo.comment_num, 0) comment_num
        FROM
        topicinfo t
        LEFT JOIN `user` u ON u.account_id = t.user_id
        LEFT JOIN category c ON c.id = t.category_id
        LEFT JOIN kind k ON k.id = t.kind_id
        LEFT JOIN (
        SELECT
        c.topic_id,
        count(*) comment_num
        FROM
        `comment` c
        GROUP BY
        c.topic_id
        ) commentinfo ON commentinfo.topic_id = t.id
        where t.kind_id = #{kindId} and t.category_id = #{categoryId} and t.is_end = 1
        ORDER BY t.topic_create desc
    </select>
    <select id="getKindTopicIsGood" resultMap="BaseResultMap">
        SELECT
        t.id,
        t.title,
        t.topic_create,
        t.experience,
        t.is_end,
        t.is_good,
        t.is_top,
        t.user_id,
        u.avatar_url,
        u.`name`,
        u.role,
        c.catename,
        k.kindname,
        IFNULL(commentinfo.comment_num, 0) comment_num
        FROM
        topicinfo t
        LEFT JOIN `user` u ON u.account_id = t.user_id
        LEFT JOIN category c ON c.id = t.category_id
        LEFT JOIN kind k ON k.id = t.kind_id
        LEFT JOIN (
        SELECT
        c.topic_id,
        count(*) comment_num
        FROM
        `comment` c
        GROUP BY
        c.topic_id
        ) commentinfo ON commentinfo.topic_id = t.id
        where t.kind_id = #{kindId} and t.category_id = #{categoryId} and t.is_good = 1
        ORDER BY t.topic_create desc
    </select>
    <select id="searchTopic" resultMap="BaseResultMap">
        SELECT
        t.id,
        t.title,
        t.topic_create,
        t.experience,
        t.is_end,
        t.is_good,
        t.is_top,
        t.user_id,
        u.avatar_url,
        u.`name`,
        u.role,
        c.catename,
        k.kindname,
        IFNULL(commentinfo.comment_num, 0) comment_num
        FROM
        topicinfo t
        LEFT JOIN `user` u ON u.account_id = t.user_id
        LEFT JOIN category c ON c.id = t.category_id
        LEFT JOIN kind k ON k.id = t.kind_id
        LEFT JOIN (
        SELECT
        c.topic_id,
        count(*) comment_num
        FROM
        `comment` c
        GROUP BY
        c.topic_id
        ) commentinfo ON commentinfo.topic_id = t.id
        where t.title like "%"#{q}"%"
        ORDER BY t.topic_create desc
    </select>
    <select id="getTopTopic"  resultMap="BaseResultMap">
        SELECT
            t.id,
            t.title,
            t.topic_create,
            t.experience,
            t.is_end,
            t.is_good,
            t.is_top,
            t.user_id,
            u.avatar_url,
            u.`name`,
            u.role,
            c.catename,
            k.kindname,
            IFNULL(commentinfo.comment_num, 0) comment_num
        FROM
            topicinfo t
        LEFT JOIN `user` u ON u.account_id = t.user_id
        LEFT JOIN category c ON c.id = t.category_id
        LEFT JOIN kind k ON k.id = t.kind_id
        LEFT JOIN (
            SELECT
                c.topic_id,
                count(*) comment_num
            FROM
                `comment` c
            GROUP BY
                c.topic_id
        ) commentinfo ON commentinfo.topic_id = t.id
        WHERE
            t.is_top = #{istop}
        ORDER BY
            t.topic_create DESC
        LIMIT #{offset},#{size}
    </select>
    <select id="getTopicDetails"  resultMap="BaseResultMap">
        SELECT
            t.id,
            t.title,
            t.view_count,
            t.content,
            t.topic_create,
            t.experience,
            t.is_end,
            t.is_good,
            t.is_top,
            t.user_id,
            t.status,
            u.avatar_url,
            u.`name`,
            u.role,
            c.catename,
            k.kindname,
            IFNULL(commentinfo.comment_num, 0) comment_num
        FROM
            topicinfo t
        LEFT JOIN `user` u ON u.account_id = t.user_id
        LEFT JOIN category c ON c.id = t.category_id
        LEFT JOIN kind k ON k.id = t.kind_id
        LEFT JOIN (
            SELECT
                c.topic_id,
                count(*) comment_num
            FROM
                `comment` c
            GROUP BY
                c.topic_id
        ) commentinfo ON commentinfo.topic_id = t.id
        WHERE
            t.id = #{id}
    </select>

</mapper>